* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.hide{
  display: none;
}

.show{
  display: block;
}

/* Begin header */

header {
  background-color: #fff;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}



.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 26px;
  font-weight: 700;
  color: #dc4f72;
  letter-spacing: -1px;
}

.navbar .nav-item {
  padding: 0 15px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  position: relative;
  padding: 14px 0;
  font-size: 16px;
  color: #2c3038;
  transition: 0.5s;
}

.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
  color: #dc4f72;
}

a.nav-link:before {
  position: absolute;
  content: "";
  background: #dc4f72;
  width: 0px;
  height: 2px;
  bottom: 13px;
  transition: 0.5s;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #dc4f72;
}
.navbar-expand-lg .navbar-nav .nav-link:hover:before {
  width: 20px;
}
.navbar-expand-lg .navbar-nav .nav-link span.fa {
  font-size: 14px;
  padding-left: 2px;
}

.navbar-expand-lg .navbar-nav .nav-link span.fa {
  font-size: 12px;
  padding-left: 2px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  transform: translateX(-50px);
  border-radius: 6px;
  padding-top: 16px;
  min-width: 11rem;
  box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
}

.navbar-expand-lg .navbar-nav .dropdown-menu:before {
  content: "";
  width: 14px;
  height: 14px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
  z-index: 1001;
}

.navbar-toggler-icon.fa {
  color: #fff;
  line-height: 30px;
  background-color: #dc4f72;
  border-radius: 5px;
}

button.navbar-toggler.collapsed .icon-close {
  display: none;
}

a.dropdown-item {
  font-weight: 400;
  font-size: 16px;
  color: #2c3038;
  position: relative;
  padding-top: 0;
  padding-bottom: 14px;
  transition: 0.5s;
}

a.dropdown-item::before {
  position: absolute;
  content: "";
  background: #dc4f72;
  width: 0px;
  height: 2px;
  bottom: 13px;
  transition: 0.5s;
}

a.dropdown-item:hover::before {
  width: 20px;
}

a.dropdown-item:hover {
  color: #dc4f72;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
}

.theme-button {
  display: inline-block;
  line-height: 52px;
  font-weight: 600;
  font-size: 14px;
  margin: 0px;
  padding: 0px 30px;
  transition: 0.5s;
}
.btn-outline-primary {
  color: #dc4f72;
  border-color: #dc4f72;
}

@media only screen and (max-width: 992px){

  header {
      height: auto;
      padding: 15px 0;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 100%;
  }
}


@media only screen and (max-width: 992px){

  .navbar-nav {
    float: left;
    text-align: center;
    width: 100%;
    padding: 20px 0;
  }
}
@media only screen and (max-width: 992px){

  a.nav-link:before, a.dropdown-item:before {
      bottom: 5px;
  }
}

@media only screen and (max-width: 992px){

  .navbar-expand-lg .navbar-nav .dropdown-menu {
      transform: translateX(0px);
      text-align: center;
  }
}
/* End header */
/* Begin banner */

.content {
  z-index: 1;
  overflow: hidden;
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)),
    url(./img/banner.jpeg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 10rem;
}

.content-left h3 {
  font-size: 50px;
  line-height: 57.5px;
  color: #2c3038;
  font-weight: 600;
}

.content-left p {
  color: #5a5a5a;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  max-width: 450px;
}

.content-right img {
  transform: rotateZ(180deg);
  width: 100%;
}
/* End banner */
/* Begin Tools */
.header-section {
  max-width: 750px;
  margin: 0 auto;
}

.header-section h4 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.header-section h3 {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}

.header-section p {
  color: #5a5a5a;
}

.Tools_grid_item {
  border-radius: 6px;
  transition: 0.3s ease-in;
  background: #f7f9fc;
  padding: 3rem 2rem;
}

.Tools_grid_item:hover {
  transition: 0.3s;
  background-color: #ffffff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  transform: translateY(-0.5rem);
}

.Tools_grid_item a {
  text-decoration: none;
}

.Tools_grid_item h3 {
  color: #2c3038;
  font-size: 26px;
  line-height: 35px;
  font-weight: 700;
}

.Tools_grid_item p {
  color: #5a5a5a;
  margin-top: 15px;
  font-size: 16px;
  line-height: 24.5px;
}

@media (max-width: 992px){
  .banner .content img{
    display: block;
    width: 500px;
    height: auto;
  }
}

/* End Tools */
/* Begin About1 */
.About1 {
  background: #f7f9fc;
}

.About1 h4 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  margin-bottom: 5px;
}

.About1 h3 {
  font-size: 35px;
  line-height: 40px;
  color: #2c3038;
  font-weight: 600;
}

.About1 p {
  font-size: 16px;
  color: #5a5a5a;
  line-height: 24.4px;
}

.btn-primary {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
}

.btn-primary:hover {
  color: #fff;
  background-color: #d62f58;
  border-color: #cf2952;
}

.About1 img {
  width: 100%;
  border-radius: 6px;
  transition: 0.3s;
}

.About1 img:hover {
  transform: translateY(-0.5rem);
}
/* End About1 */
/* Begin Stats */
.stats_item {
  background-color: #fff;
  padding: 2rem;
  border-radius: 6px;
  box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
  transition: 0.3s;
  border: 1px solid #eee;
}

.stats_item:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

.stats_item h4 {
  font-size: 16px;
  line-height: 24.5px;
  color: #2c3038;
  font-weight: 500;
}

.stats_item h3 {
  font-size: 50px;
  line-height: 1;
  color: #dc4f72;
  margin-bottom: 0;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 10px;
}

.stats_item p {
  font-size: 16px;
  color: #5a5a5a;
  line-height: 24.4px;
}
/* End Stats */
/* Begin About2 */
.About2 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.33)
    ),
    url(./img/bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 480px;
}

.About2 h2 {
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
}

.About2 p {
  font-size: 16px;
  color: #eee;
  line-height: 24.5px;
}

.About2 button {
  color: #2c3038;
  background: #fff;
  border-color: #fff;
}

.About2 button:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}
/* End About2 */
/* Begin solutions */
.solutions_item {
  border-radius: 6px;
  transition: 0.3s;
  display: block;
  height: 100%;
  background: #fff;
  border: 1px solid #eee;
  position: relative;
}

.solutions_item img {
  width: 100%;
  filter: grayscale(1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  cursor: pointer;
}

.solutions_item span {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  line-height: 24.5px;
  color: #fff;
  font-weight: 700;
  border-top-right-radius: 6px;
  background: #dc4f72;
  padding: 15px;
  cursor: pointer;
}

.solutions_item_text {
  background: #fff;
  padding: 30px 20px;
}

.solutions_item_text h3 {
  padding: 5px 16px;
  display: inline-block;
  border-radius: 25px;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 15px;
}

.solutions_item_text .tag-red {
  background: rgba(238, 97, 120, 0.2);
  color: #dc4f72;
}

.solutions_item_text .tag-green {
  background: rgba(0, 128, 0, 0.2);
  color: #008000;
}

.solutions_item_text .tag-blue {
  background: rgba(0, 0, 255, 0.2);
  color: #0000ff;
}

.solutions_item_text h4 {
  font-size: 22px;
  cursor: pointer;
}

.solutions_item_text p {
  font-size: 16px;
  line-height: 24.5px;
  color: #5a5a5a;
  margin-top: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.solutions_item_text a {
  padding: 0;
  color: #dc4f72;
  transition: 0.3s;
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.solutions_item_text .fa {
  font-size: 60%;
  padding-left: 0px;
  position: absolute;
  right: -13px;
  top: 7.5px;
  transition: 0.3s;
}

.solutions_item:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

.solutions_item:hover img {
  filter: grayscale(0);
}

.solutions_item:hover .solutions_item_text .fa {
  right: -16px;
}

.solutions_item:hover .solutions_item_text h4 {
  color: #dc4f72;
}
/* End solutions */

.sub_title {
  color: #dc4f72;
  font-size: 17px;
}

.main_title {
  font-size: 50px;
}
  
.notice {
  color: grey;
  font-size: 17px;
}

/* START FAQs */
.FAQs {
  padding: 100px 0;
  background-color: #f7f9fc;
}

.FAQs_title {
  text-align: center;
  padding: 0 90px;
  margin-bottom: 70px;
}

.FAQs_content {
  display: flex;
  justify-content: space-between;
}

.FAQs_content_left img {
  width: 100%;
  border-radius: 10px;
  transition: 0.5s;
}

.FAQs_content_left img:hover {
  transform: translateY(-15px);
}

.FAQs_content_right {
  width: 90%;
  margin-left: 70px;
}

.card {
  margin-bottom: 15px;
  border-radius: 7px;
  border: 1px solid #eee;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card-header {
  cursor: pointer;
  background-color: white;
  height: 70px;
  display: flex;
  align-items: center;
  border-bottom: none;
  position: relative;
}

.card-header h5 {
  font-size: 22px;
  font-weight: 400;
}

.card-header input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  top: 0;
  left: 0;
}

.card-header i {
  position: absolute;
  right: 35px;
  top: 28px;
}

.card-header i::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 10px;
  background-color: black;
  transform: translate(-3px, 0) rotate(45deg);
  transition: 0.3s;
}

.card-header i::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 10px;
  background-color: black;
  transform: translate(3px, 0) rotate(-45deg);
  transition: 0.3s;
}

.card-header input[type="checkbox"]:checked ~ i::before {
  transform: translate(3px, 0) rotate(45deg);
}

.card-header input[type="checkbox"]:checked ~ i::after {
  transform: translate(-3px, 0) rotate(-45deg);
}
/* END FAQs */

/* START PROJECT */
.project .nav-item {
  width: 33%;
  text-align: center;
}

.project .nav-pills .nav-link.active {
  background-color: white;
  color: #dc4f72;
}

.project .nav-pills .nav-link {
  color: #4e5b61;
  background-color: white;
  font-size: 25px;
  font-weight: bold;
}

.project .nav-pills .nav-link {
  border-radius: 0rem;
}

.project .nav-link {
  padding: 20px 0;
  margin-bottom: 20px;
  border-bottom: 3px solid rgba(128, 128, 128, 0.5);
}

.project .nav-link.active {
  border-bottom: 3px solid #dc4f72;
}

.project {
  padding: 100px 0;
}

.project_title {
  text-align: center;
  padding: 0 90px;
  margin-bottom: 70px;
}

.wrap_project_content {
  display: flex;
}

.project_content_text {
  width: 100%;
  padding: 0 15px 0 60px;
}

.project_content_text h3 {
  font-size: 35px;
}

.project_content_text p {
  margin: 30px 0 40px;
}

.project_content_text button {
  padding: 13px 25px;
  background-color: white;
  color: #dc4f72;
  border: #dc4f72 1px solid;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.5s;
}

.project_content_text button:hover {
  background-color: #dc4f72;
  color: white;
}

.project_content_img {
  width: 100%;
}

.project_content_img img {
  width: 100%;
  border-radius: 10px;
  transition: 0.5s;
}

.project_content_img img:hover {
  transform: translateY(-10px);
}
/* END PROJECT */

/* START TESTIMONIALS */
.testimonials {
  padding: 100px 0;
  background-image: linear-gradient(
      to right,
      rgba(247, 249, 252, 0.77),
      rgba(247, 249, 252, 0.77)
    ),
    url(./img/b2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.testimonials_title {
  text-align: center;
  padding: 0 90px;
  margin-bottom: 70px;
}

.wrap__testimonials__item {
  padding: 15px;
}

.testimonials__item {
  position: relative;
  display: flex;
  padding: 30px 30px;
  background-color: white;
  border-radius: 10px;
}

.testimonials__item:active {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.testimonials__item__avatar {
  position: relative;
  width: 100%;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #dc4f72;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 50px;
}

.testimonials__item__avatar__1 {
  background-image: url("./img/team3.jpg");
}

.testimonials__item__avatar__2 {
  background-image: url("./img/team4.jpg");
}

.testimonials__item__avatar__3 {
  background-image: url("./img/team5.jpg");
}

.testimonials__item__avatar__4 {
  background-image: url("./img/team6.jpg");
}

.testimonials__item i {
  position: absolute;
  color: #d5d6d7;
  font-size: 35px;
  top: 27px;
  left: 135px;
}

.testimonials__item__quote p {
  margin-bottom: 0rem;
  position: relative;
}

.testimonials__item__quote p:first-of-type {
  font-size: 18px;
  color: #2f3843;
  margin-bottom: 20px;
}

.testimonials__item__quote p:nth-of-type(2) {
  color: #dc4f72;
  font-size: 20px;
}

.testimonials__item__quote p:last-of-type {
  font-size: 15px;
}

.slick-dots li button {
  color: #dc4f72;
  font-size: 0;
  line-height: 0;
  display: block;
  width: 40px;
  height: 8px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:before {
  font-size: 100px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 8px;
  content: "-";
  text-align: center;
  color: white;
  opacity: 1;
}

.slick-dots li button:hover:before {
  color: #dc4f72;
}

.slick-dots li.slick-active button:before {
  color: #dc4f72;
  opacity: 1;
}
/* END TESTIMONIALS */

/* START COMMUNITY */
.community {
  text-align: center;
  padding: 60px 0;
}

.community p {
  margin: 15px 0 40px;
}

.community button:first-of-type {
  padding: 13px 25px;
  background-color: white;
  color: #dc4f72;
  border: #dc4f72 1px solid;
  border-radius: 5px;
  font-weight: 600;
  margin-right: 20px;
  transition: 0.5s;
}

.community button:first-of-type:hover {
  background-color: #dc4f72;
  color: white;
}

.community button:last-of-type {
  padding: 13px 25px;
  background-color: #dc4f72;
  color: white;
  border: #dc4f72 1px solid;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.5s;
}

.community button:last-of-type:hover {
  background-color: #d62f58;
}
/* END COMMUNNITY */

/* START FOOTER */
footer {
  background-color: #f7f9fc;
  padding: 50px 0;

}
.footer_top {
  display: flex;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

.footer_top h5 {
  font-size: 22px;
  margin-bottom: 25px;
}

.footer_top__smaller {
  width: 18%;
}

.footer_top__smaller ul li {
  list-style-type: none;
  margin-bottom: 10px;
  color: grey;
  cursor: pointer;
}

.footer_top__smaller ul li:hover {
  color: #dc4f72;
}

.footer_top__bigger {
  width: 46%;
}

.footer_top__bigger .email {
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: white;
  padding: 20px 30px;
}

.footer_top__bigger .email p:first-of-type {
  font-size: 18px;
  margin-top: 10px;
}

.footer_top__bigger .email input{
  width: 75%;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #f7f9fc;
  border: none;
  margin-right: 7px;
}

.footer_top__bigger .email input::placeholder {
  color: grey;
  font-weight: 600;
}

.footer_top__bigger .email button {
  padding: 12px 35px;
  border-radius: 5px;
  background-color: #dc4f72;
  color: white;
  font-weight: 600;
  border: none;
  margin: 15px 0;
}

.footer_bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.footer_bottom i {
  margin-left: 20px;
  cursor: pointer;
}

.footer_bottom i:hover {
  color: #dc4f72;
}

.footer_bottom a {
  text-decoration: none;
  color: black;
}

.footer_bottom a:hover {
  color: #dc4f72;
}
/* END FOOTER */

/* BACK TO TOP */
.back_to_top {
  display: none;
  width: 50px;
  height: 50px;
  padding: 14px 20px;
  color: white;
  border: none;
  outline: none;
  font-size: 17px;
  position: fixed;
  bottom: 80px;
  right: 0px;
  z-index: 10;
  background-color: #dc4f72;
  background-size: 200%;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.5s;
}

.back_to_top:hover {
  background-color: #cf2952;
}
/* END BACK TO TOP */

